<!doctype html>
<title>Keyboards</title>

{% for keyboard in keyboards %}
<h1>{{ keyboard.name }}</h1>
<img src="{{ url_for('render_layout_svg_file', name=keyboard.name)}}" width="400"></img>
<a href="{{ url_for('render_layout_svg_file', name=keyboard.name)}}">svg</a>
<a href="{{ url_for('render_proto_text', name=keyboard.name)}}">pb</a>
<a href="{{ url_for('render_dxf_file', name=keyboard.name)}}">dxf</a>
<a href="{{ url_for('render_qmk_header_file', name=keyboard.name)}}">qmk</a>
<a href="{{ url_for('render_kicad_pcb_file', name=keyboard.name)}}">pcb</a>
<a href="{{ url_for('render_plate_kicad_pcb_file', name=keyboard.name)}}">plate-pcb</a>
<a href="{{ url_for('render_kle_redirect', name=keyboard.name)}}" target="_blank">kle-redirect</a>
{% endfor %}
